<ion-view view-title="" hide-nav-bar="true">
    
    <ion-header-bar align-title="center" class="bar-light bar-transparent">
        <div class="buttons">
            <button class="button button-clear" menu-toggle="left"><i class="icon ion-navicon"></i></button>
        </div>
        <h1 class="title logo">my listings</h1>
        <div class="buttons">
            <button class="button button-clear" menu-toggle="right"><i class="icon ion-ios-albums-outline"></i></button>
        </div>
    </ion-header-bar>
    
    <ion-content>
        
        <form name="myForm" novalidate>
            
            <div class="row">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">What is your campaign?</span>
                        <input type="text" placeholder="What is your campaign?" ng-model="item.itemName" name="name" required ng-change="update(itemName)">
                            <span class="validError" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                <span ng-show="myForm.name.$error.required">Campaign name is required.</span>
                            </span>
                            </label>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    
                    <label class="item-input item-select" ng-controller="CategsCtrl">
                        <div class="input-label">
                            Category:
                        </div>
                        <select ng-model="item.categorySelect" name="category" required>
                            <option ng-repeat="categ in Categories" value="{{categ.id}}">{{categ.name}}</option>
                        </select>
                        <span class="validError" ng-show="myForm.category.$dirty && myForm.category.$invalid">
                            <span ng-show="myForm.category.$error.required">Category is required.</span>
                        </span>
                    </label>
                    
                </div>
            </div>

            <div class="text-center">
                
                <h5 class="center">Select a picture</h5>
                <div class="row selectPictureIcons">
                    <div class="col borderRight back-1">
                        <i ng-click="getImage()" class="icon ion-images"></i>
                    </div>
                    <div class="col back-2">
                        <i ng-click="getCamera()" class="icon ion-camera"></i>
                    </div>
                </div>
                
            </div>
            
            <img id="myImage" style="width:50%; margin-left: 25%;" />

            <div class="row">
                <div class="col">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Points Per Attendance</span>
                        <input type="number" placeholder="Points Per Attendance" name="points" ng-maxlength="2" ng-model="item.points" required>
                            <span class="validError" ng-show="myForm.points.$error.number">
                                <span ng-show="myForm.phone.$error.required">Points are required.</span>
                            </span>
                    </label>
                    
                </div>
            </div>
        
            
            <div class="row" ng-show="!currentUser.email">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Where are you from?</span>
                        <input type="text" placeholder="Where are you from?" ng-model="item.location" name="location" required>
                            <span class="validError" ng-show="myForm.location.$dirty && myForm.location.$invalid">
                                <span ng-show="myForm.location.$error.required">Location is required.</span>
                            </span>
                            </label>
                    
                    <a class="button button-clear" ng-click="getLocation()">
                        <i class="icon ion-ios-navigate-outline"></i>
                    </a>
                    
                    
                </div>
            </div>
            
            
            <div class="row">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Describe in a few words</span>
                        <textarea type="text" placeholder="Describe in a few words" ng-model="item.itemDescription" name="description" required></textarea>
                        <span class="validError" ng-show="myForm.description.$dirty && myForm.description.$invalid">
                            <span ng-show="myForm.description.$error.required">Description is required.</span>
                        </span>
                    </label>
                    
                </div>
            </div>
            
            
            
            <div class="row" ng-show="!currentUser.email">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Your email address</span>
                        <input type="email" placeholder="Your email address" ng-model="item.userEmail" name="email" required>
                            <span class="validError" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                <span ng-show="myForm.email.$error.required">Email is required.</span>
                            </span>
                    </label>
                    
                </div>
            </div>
            
            <div class="row" ng-show="!currentUser.email">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Your phone number</span>
                        <input type="tel" placeholder="Your phone number" ng-model="item.userTel" required name="phone" required>
                            <span class="validError" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                                <span ng-show="myForm.phone.$error.required">Phone is required.</span>
                            </span>
                    </label>
                    
                </div>
            </div>
            
            <div class="row" ng-show="!currentUser.email">
                <div class="col">
                    
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Choose a password</span>
                        <input type="password" placeholder="Choose a password" ng-model="item.userPassword" required name="password" required>
                            <span class="validError" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                                <span ng-show="myForm.password.$error.required">Password is required.</span>
                            </span>
                    </label>
                    
                </div>
            </div>
        
            
            <div class="row">
                <div class="col colSubmit">
                    <button ng-disabled="myForm.$invalid && !currentUser" class="button button-calm button-full" ng-click="send()">
                        Submit
                    </button>
                    
                </div>
            </div>
            
        </form>
        
    </ion-content>
    
</ion-view>