<ion-view view-title="" hide-nav-bar="true">
    
    <ion-header-bar align-title="center" class="bar-light bar-transparent">
        <div class="buttons">
            <button class="button button-clear" menu-toggle="left"><i class="icon ion-navicon"></i></button>
        </div>
        <h1 class="title logo">learn more</h1>
        <div class="buttons">
            <button class="button button-clear" menu-toggle="right"><i class="icon ion-ios-albums-outline"></i></button>
        </div>
    </ion-header-bar>
    
    <ion-content class="padding">
        
        <ion-slide-box class="helpSlider">
    <ion-slide>
      <div class="back-5">
          
          <img src="img/help/1.png" style="width:70%; margin-left:15%;" />
          
        <button class="button button-clear" ng-click="nextSlide()"><i class="icon ion-ios-arrow-right"></i></button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="back-9">
        <img src="img/help/1.png" style="width:70%; margin-left:15%;" />
        <button class="button button-clear" ng-click="gotoHome()"><i class="icon ion-checkmark-round"></i></button>
      </div>
    </ion-slide>
  </ion-slide-box>
        
    </ion-content>
</ion-view>