<ion-view view-title="" hide-nav-bar="true">
    
    <ion-header-bar align-title="center" class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear" menu-toggle="left"><i class="icon ion-navicon"></i></button>
            <a class="button button-clear" ng-click="search()"><i class="icon ion-search"></i></a>
        </div>
        <h1 class="title logo">Helpers</h1>
        <div class="buttons">
            <a class="button button-clear" href="#/app/add"><i class="icon ion-ios-plus"></i></a>
            <button class="button button-clear" menu-toggle="right"><i class="icon ion-ios-albums-outline"></i></button>
        </div>
    </ion-header-bar>

    <ion-content class="padding">
    <div>
        
        <h4 class="center">Available Campaigns</h4>
        
        <a class="back-{{item.background}} itemBox"ng-repeat="item in items" href="#/app/item/{{item.id}}">
            <div class="image">
                <img src="{{item.picture}}" width="150" />
            </div>
            <div class="location">
                {{item.location}}
            </div>
            <div class="title">
                {{item.name}}
            </div>
        </a>
        
    </div>
        
  </ion-content>
</ion-view>