<ion-view view-title="" hide-nav-bar="true">
    
    <ion-header-bar align-title="center" class="bar-light bar-transparent">
        <div class="buttons">
            <button class="button button-clear" menu-toggle="left"><i class="icon ion-navicon"></i></button>
            <a class="button button-clear" ng-click="search()"><i class="icon ion-search"></i></a>
        </div>
        <h1 class="title logo">global leaderboard</h1>
        <div class="buttons">
            <a class="button button-clear" href="#/app/add"><i class="icon ion-ios-plus"></i></a>
            <button class="button button-clear" menu-toggle="right"><i class="icon ion-ios-albums-outline"></i></button> 
        </div>
    </ion-header-bar>
    

    <ion-content class="padding">
        <div class="list">
            <div class="item row itemRowList" ng-repeat="user in Leaderboards"> 
                <div class="col col-20">
                    <a class="icon ion-ios-grid-view-outline back-7">{{user.place}}</a>
                </div>

                <div class="col col-40">
                    {{user.points}} points
                </div>

                <div class="col col-40">
                <i class="icon ion-ios-email-outline"></i>
                    {{user.userEmail}}  
                </div>
        </div>
  </ion-content>
</ion-view>