<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Reset Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeReset()"><i class="icon ion-ios-close-outline"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doReset()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="resetData.email">
        </label>
        <label class="item">
          <button class="button button-block button-calm" type="submit">Reset Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>